a{
    text-decoration: none !important;
}
li{
    list-style: none;
    display: block;
}
.nobm{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #e7e7e7;
}
.left-nav .panel-body{
    padding: 0px !important;
}
#section{

}
@media screen and (min-width: 768px) {
    .left-nav {
        position: absolute;
        top: 51px;
        left: 0;
    }
    .left-nav li{
        width: 230px;
        float: none;
    }
    .left-nav .panel-body a{
        font-size: 17px;
        color: #636161;
    }
    .left-nav a{
        display: inline-block;
        width: 100%;
    }
    .left-nav .panel-body li{
        padding: 10px 0px;
    }
    .panel-title{
        font-size: 16px;
    }
    #section{
        padding-left: 250px;
    }
}
